<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/agent.css' />
    <script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/agent.js"></script>
  </head>
  <body>
  <h1>agent</h1>
  <canvas id="canvas" width="700" height="700"></canvas>
  
  </body>
</html>
