<!DOCTYPE html>
<html lang="ja">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>GCSFront</title>
<link type="text/css" href="/stylesheets/gcsfront.css" rel="stylesheet">
<script type="text/javascript" src="/javascripts/jquery-1.11.0.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/gcsfront.js"></script>

<script type="text/javascript">
</script>
</head>

<body>
<h1>GCSFront</h1>
<div id="canvas-wrap">
	<canvas id="canvas" class="canvas" width="1200" height="800"></canvas>
	<div id="overlay"></div>
</div>

<hr />
<input type="button" value="EXIT" onClick="end()">
<div id="log"></div>
</body>
</html>