<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/hwrecognition.css' />
    <script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/javascripts/hwrecognition.js"></script>
  </head>
  <body>
  <h1>HandWriteRecognition</h1>
  <div id="canvas" class="canvas" width="300" height="300"></div>
  
  </body>
</html>
